provider_installation {
  dev_overrides {
    "registry.terraform.io/donis/filemanager" = "C:/Users/Donis/go/bin"
    "donis/greeting"    = "C:/Users/Donis/go/bin"
    "registry.terraform.io/example/banking"  = "C:/Users/Donis/go/bin"
  }
  direct {}
}
